@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
/*PAGE 8----------------------------------*/
/*PAGE 8----------------------------------*/
/*PAGE 8----------------------------------*/
#course_development_and_delivery{
    width: 100%;
    height: 100vh;
    padding: 5%;
    display: flex;
    justify-content: center;
    position:relative;
    scroll-snap-align: start;
}
#on_left{
    width: 100%;
    position: relative;
}
.cdad_1{
    width: 700px;
    font-size: 35px;
    position: absolute;
    top: 0px; 
}
.cdad_1 p{
    margin: 30px auto 0;
    align-items: center;
    font-size: 24px;
}
.cdad_2{
    width: 700px;
    position: absolute;
    bottom: 0px;
}
.cdad_2 h2{
    font-size: 30px;
}
.cdad_2 ul{
    list-style: none;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 25px;
    background: linear-gradient(#70D8FF
    ,#4fbde8);
    background-attachment: fixed;
    /*background-color: #4fbde8;*/
    color: #ffffff;
    /*border: .5px solid;*/
}
.cdad_2 ul li{
    padding: 10px;
}
#on_right{
    writing-mode: vertical-lr;
    text-orientation: upright;   
    text-align: center;
    font-size: 34px;
    /*center img horizontally inside the div*/    
}
#on_right img{
    max-width: 720px;
    width: 100%;
    height: fit-content;
}
/*PAGE 9----------------------------------*/
/*PAGE 9----------------------------------*/
/*PAGE 9----------------------------------*/
#services{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#FFE599,#FFC000);
    background-attachment: fixed;
    padding: 2%;
    display: flex;
    /*align horizontally in flex*/
    justify-content: center;
    /*align vertically in flex*/
    align-items: center;
    position:relative;
    border: 2px solid;
    color: white;
    scroll-snap-align: start;
}
#services_img{
    width: 100%;
    max-width: 720px;
    height: fit-content;
}
.services_content{
    height: fit-content;
    width: 100%;
    margin-left: 2%;
}
.services_content h1{
    font-size: 45px;
    padding: 20px;
}
.services_content p{
    font-size: 25px;
    padding: 20px;
}
.services_section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.services_section img{
    width: 100%;
    max-width: 80px;
    margin: 10px;
    height: fit-content;
}
.services_section ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
.services_section ul li{
    width: 240px;
    list-style: none;
    display: inline-block; 
    margin: 0px 15px;
}
.services_section h3{
    font-size: 18px;
    margin: 10px;
}
.services_section p{
    font-size: 16px;
}
.bottom-img{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10%;
}

/*PAGE 10----------------------------------*/
/*PAGE 10----------------------------------*/
/*PAGE 10----------------------------------*/
#partner_benefits{
    width: 100%;
    height: 100vh;
    padding: 5%;
    position:relative;
    scroll-snap-align: start;
}
.pb_content{
    text-align: center;
    margin: 40px 0;
}
.pb_content h1{
    font-size: 45px;
    margin: 40px;
}
.pb_statement{
    display: flex;
    justify-content: center;
}
.pb_statement div{
    text-align: justify;
    max-width: 750px;
    width: 100%;
    font-size: 28px;
    padding: 0 2%;
    margin: 0 20px;
    position: relative;
}
.pb_1{
    position: absolute;
    left: 0;
}
.pb_2{
    position: absolute;
    right: 0;
}
#image_text{
    position: relative;
}
#image_text img{
    width: 100%;
    max-width: 1600px;
    margin: 10px;
    height: fit-content;

    /*horizontally align in block display*/
    display: block;
    margin: 0 auto;
    /*position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);*/
}
#image_text h1{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: white;
    font-size: 50px;
    letter-spacing: 20px;
}
/*PAGE 11----------------------------------*/
/*PAGE 11----------------------------------*/
/*PAGE 11----------------------------------*/